
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Index</h2>
<br />
<div>
    @using (Html.BeginForm("index", "QR", FormMethod.Post))
            {
                <input type="text" name="kod" />
                <input type="submit" value="QR oluştur" />
            }
    <br />
    @if (ViewBag.karekodimage!=null)
    {
        <img src="@ViewBag.karekodimage"alt="" style="width:400px;height:400px" />
    }
</div>
